APIGEE_BASE_URI:
  DEV: "your.dev.apigee.host"
  PRD: "your.prd.apigee.host"
APIGEE_TOKEN_ENDPOINT: "/oauth2/v1/token"
APIGEE_EASYNET_ENDPOINT: "/it_prod-easynet/v2"
APIGEE_CERTIFICATE: "apigee.crt"
APIGEE_KEY: "apigee.key"
EASYNET_KEY: "easy_key"
EASYNET_SECRET: "easy_secret"
REQUESTS_CA_BUNDLE: "bundle.crt"
