streamlit
requests
redis
pandas
geopandas
folium
streamlit-folium
plotly
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-jaeger
opentelemetry-exporter-otlp
opentelemetry-instrumentation-requests
streamlit-aggrid
