APIGEE_BASE_URI:
  DEV: "your.dev.apigee.host"
  PRD: "your.prd.apigee.host"
APIGEE_TOKEN_ENDPOINT: "/oauth2/v1/token"
APIGEE_EASYNET_ENDPOINT: "/it_prod-easynet/v2"
APIGEE_CERTIFICATE: "apigee.crt"
APIGEE_KEY: "apigee.key"
EASYNET_KEY: "easy_key"
EASYNET_SECRET: "easy_secret"
REQUESTS_CA_BUNDLE: "bundle.crt"
S3_ENDPOINT: "http://s3mock:9090"
S3_BUCKET: "s3-bucket"
S3_KEY: "test"
S3_SECRET: "test"
S3_USE_SSL: true
S3_VERIFY" "bundle.crt"
